<!DOCTYPE html>
<html lang="en" ng-app="ContactApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/angular-1.7.js"></script>
    <script src="js/app.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">

    <title>Contact App</title>
</head>

<body>
    <h1>My Contact App</h1>
    <div class="container" ng-controller="ContactCtrl as ctrl">
        <div class="row">
            <ul class="list-group">


                <li class="list-group-item" ng-repeat="contact in ctrl.contacts" ng-click="ctrl.selectContact($index)">
                    <span>{{contact.name.first +' '+contact.name.last }}</span>
                </li>



            </ul>

        </div>
        <div class="row">
            <div class="media">
                <div class="media-left">
                    <img class="mr-3" src="{{ctrl.selectedContact.picture.medium}}" alt="Generic placeholder image">
                </div>

                <div class="media-body">
                    <h5 class="media-heading">{{ctrl.selectedContact.name.first + ' ' + ctrl.selectedContact.name.last}}</h5>
                    <div>
                        <h6>Location</h6>
                        <p>{{ctrl.selectedContact.location.street +' ' + ctrl.selectedContact.location.city+' '+ctrl.selectedContact.location.state}}</p>
                    </div>
                    <div>
                        <h6>Phone</h6>
                        <p>{{ctrl.selectedContact.cell}}</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

</body>

</html>